.card-project {
    transition: 0.3s;
    cursor: pointer;
}

.card-project:hover {
    box-shadow: 2px 2px 7px rgb(0 0 0 / 15%);
}

.card-project .card-body {
    height: 92px;
}

.card-project-name {
    font-size: 20px;
    font-weight: bold;
}
